@import "./imports/style.css";

body {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-family: "lato";
  color: var(--color-text);

  main {
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    button.rounded {
      flex-shrink: 0;
      background-color: transparent;
      border-radius: 50%;
      border: none;
      width: 3em;
      height: 3em;
      padding: 0;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        fill: var(--color-text);
      }
    }

    h1, h2 {
      font-family: "Playfair Display";
    }

    h1 {
      font-size: 2em;
      margin: 0 0 1em 0;
      text-transform: capitalize;
    }

    h2 {
      font-size: 1.5em;
      margin: 1em 0 0.7em 0;
      font-weight: 400;

      a,
      a:visited {
        background-color: transparent;
        color: var(--color-text);
        cursor: pointer;
      }

      a:hover {
        text-decoration: none;
      }
    }

    p {
      line-height: 2em;
    }
  }
}


@media screen and (min-width: 760px) {
  body {
    width: 720px;
    main {

      p {
        padding-left: 2em;
      }

      h2 {
        font-size: 1.8em;
      }
    }
  }
}
