@media screen and (max-width: 470px) {
  body {
      font-size: 12px;
  }

  article {
      font-size: 15px;
  }
}

@media screen and (min-width: 600px) and (max-width: 890px) {
  main,
  footer {
      width: 65%;
  }
}

@media screen and (min-width: 890px) and (max-width: 1290px) {
  main,
  footer {
      width: 45%;
  }
}

@media screen and (min-width: 1290px) {
  main,
  footer {
      width: 30%;
  }
}
