html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    --bg-dark: #212125;
    --bg-clear: #ffffff;
    --text-dark: white;
    --text-clear: #46464b;
}

/* THEMES */
body.dark {
    --color-bg: var(--bg-dark);
    --color-text: var(--text-dark);

    background-color: var(--color-bg);
    color: var(--color-text);
}

body.clear {
    --color-bg: var(--bg-clear);
    --color-text: var(--text-clear);

    background-color: var(--color-bg);
    color: var(--color-text);
}

body {
    font-family: 'Consolas', 'Menlo', 'Roboto Mono', 'Source Code Pro', 'Droid Sans', 'Ubuntu Mono', monospace;
}

/* ANCHORS */
a,
a:visited {
    text-decoration: none;
    color: var(--color-bg);
    background-color: var(--color-text);
    cursor: pointer;
    padding: 0.2ch 0.6ch;
}

a:hover {
    text-decoration: underline;
}

/* THEMED ANCHOR */

main,
footer {
    width: 90%;
    margin: 3em auto 3em auto;
}

main h1,
main h2,
main p {
    margin: 0;
    padding: 0;
}

main h2 {
    font-weight: normal;
    font-size: 1.1em;
}

main h3 a.anchor {
    margin-left: -1em;
    background-color: initial;
}

main section:not(:last-child) {
    margin-bottom: 6em;
}

body.dark h3 a.anchor::before {
    color: white;
}

body.clear h3 a.anchor::before {
    color: #46464b;
}

main h3 a.anchor::before {
    content: '#';
    text-decoration: underline;
    visibility: hidden;
    color: white;
}

main h3:hover a.anchor::before {
    visibility: visible;
}

main p:first-child {
    margin-top: 1.8em;
}

main p {
    margin-top: .9em;
    text-align: justify;
    line-height: 1.6em;
}

main {
    @import "./theme-selection.css";
}

main .profile {
    width: 5em;
    text-align: right;
}

main .flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

main .flex-container span:first-child {
    flex: 2;
}

noscript {
    display: inline-block;
    text-align: justify;
    margin: 3em 0 3em 0;
    width: 90%;
    padding: 1em;
    background-color: #21212518;
    border: 1px solid white;
}

body.dark noscript {
    border: 1px solid white;
}

body.clear noscript {
    border-color: #46464b;
}


footer p {
    margin: 0;
}

footer .links {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer svg {
    fill: currentColor;
    width: 24px;
    height: 1em;
}

footer .links li {
    float: left;
    margin-right: 1.1em;
}
