.theme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  sup {
    text-decoration: underline;
    margin-bottom: .8em;
  }

  button.rounded {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 3em;
    height: 3em;
    padding: 0;
    cursor: pointer;
    margin-bottom: 4em;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-text);
    }
  }
}
